<div style="font-family: 'Kanit', sans-serif;">

	<section class="hero is-fullheight is-dark">
	  <div class="hero-head">
      <div class="container">
        <nav class="nav">
          <div class="container">
            <div class="nav-right animated fadeIn">
              <a class="nav-item" href="/">
                <h4 class="title"> {{ title }}</h4>
              </a>
            </div>
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
        </nav>
      </div>
    </div>

		<div class="hero-body">
      <div class="container is-fluid">
      	<div class="columns">
      		<div class="column is-5">
      			<div class="columns">
      				<div class="column animated bounceInLeft">
                <h1 class="title"><i class="fa fa-user-o"></i> Bio</h1>
                <div class="box has-text-centered outline-effect" style="background: transparent;border: 0.5px #fff solid;">
        					<app-main></app-main>
        					<app-profile></app-profile>
                </div>
      				</div>
      			</div>
      		</div>
      		<div class="column is-7 animated bounceInRight">
				    	<app-github></app-github>
      		</div>
      	</div>
      </div>
    </div>
	</section>

	<section class="section">
    <app-skills></app-skills>
	</section>
</div>
