<p class="subtitle"></p>
<p class="subtitle">Full Stack Developer</p>
<p class="subtitle">Department of Computer Engineering</p>
<p class="subtitle">Prince of Songkla University, Phuket Campus</p>
<blockquote>
  <p>“Education is the most powerful weapon which you can use to change the world.”</p>
  <p> — Nelson Mandela</p>
</blockquote>
<p class="subtitle"></p>
<a href="https://fb.com/pozterzz" class="icon-link round facebook fill" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a>
<a href="https://instagram.com/pozterz" class="icon-link round instagram fill" title="Instagram"><i class="fa fa-instagram fa-2x"></i></a>
<a href="https://github.com/pozterz" class="icon-link round github fill" title="Github"><i class="fa fa-github fa-2x"></i></a>
<a href="https://linkedin.com/in/tharathep-numuan-1a1200ab" class="icon-link round linkedin fill" title="Linkedin"><i class="fa fa-linkedin fa-2x"></i></a>
